<div class="principal">
  <p>Somos Apaixonados por Pets!</p>

  <p>Nossos pets são nossos filhos e assim, em nossa viagens, em pequenos passeios ou até em simples almoços fora de casa, sempre queremos estar com eles.</p>

  <p>Mas nem sempre é fácil, pois apesar de já termos muitos estabelecimentos que aceitam pets, ainda, a grande maioria resiste conceder-nos esse convívio.</p>

  <p>Depois de alguns anos de viagens e agora até com novos filhos e muitas vezes com a nossa Kombi - que também pode reduzir algumas opções - resolvemos compartilhar essas <em>auventuras.</em></p>

  <p>Com a Turisdogando tentamos facilitar a busca por roteiros, compartilhando lugares, informações e dicas para que seu passeio seja ainda mais divertido e prazeroso.</p>

  <p>Para isso destacamos cidades e lugares onde seu Pet é bem vindo e tratado com o mesmo carinho de casa, além de muitas fotos.</p>

  <p>Também aceitamos sugestões!</p>

  <p>
      Visite a área <a id="destaque" href="/cidades.html">cidades</a> e comece a sua jornada, sem deixar ninguém para trás.
  </p>
</div>
